@keyframes spinner-animation {
	0% {
		stroke-dasharray: 7 70;
		transform: rotate(0deg);
	}

	50% {
		stroke-dasharray: 50 70;
		transform: rotate(180deg);
	}

	100% {
		stroke-dasharray: 7 70;
		transform: rotate(2turn);
	}
}
@keyframes fade-in-up {
	from {
		opacity: 0;
		transform: translate3d(0, 100%, 0);
	}

	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}
