.formBox {
	display: block;
	width: 100%;
	max-width: 506px;
}

.formBox__header {
	margin-bottom: 40px;
}

.formBox__list {
	margin: 16px 0;
}

.formBox__caption {
	margin-top: 16px;
	font-size: 18px;
}

.formBox__footer {
	margin-top: 30px;
}

.formBox--modal {
	display: flex;
	flex-direction: column;

	.formBox__footer {
		margin-top: auto;
	}
}
