.searchField {
	display: block;
	position: relative;
}

.searchField__input {
	height: 46px;
	padding: 11px 14px 11px 53px;
	background-color: var(--color-bg);
	border-color: var(--color-bg);
	border-radius: 8px;
	color: var(--color-text);
	caret-color: var(--color-accent);

	&::placeholder {
		color: var(--color-text-gray);
	}

	&:active,
	&:focus {
		border-color: var(--color-primary);
	}
}

.searchField__icon {
	width: 20px;
	height: 20px;
	position: absolute;
	left: 17px;
	top: 11px;
	color: var(--color-text-gray);
}

.searchField__loader {
	svg {
		width: 100%;
		height: 100%;
		transform: rotate(0deg);
		-webkit-animation: spinner-animation 1.5s linear infinite;
		animation: spinner-animation 1.5s linear infinite;
	}
}
