.text-gray {
	color: var(--color-text-gray);
}

.text-primary {
	color: var(--color-primary);
}

.text-danger {
	color: var(--color-danger);
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}

.text-mid {
	font-weight: 500;
}
