:root {
	--color-page: #FFFFFF;
	--color-light: #FFFFFF;
	--color-bg: #F5F5F5;
	--color-bg-secondary: #F5F6FA;
	--color-bg-btn: #F2F6F8;
	--color-plate: #F3F5F8;
	--color-border: #E9EAEC;
	--color-field: #5F6165;
	--color-field-border: #E9EAEC;
	--color-text-main: #242731;
	--color-text-secondary: #5F6165;
	--color-text-gray: #7C7C8D;
	--color-text-light: #A9ABAD;
	--color-gray: #72767C;
	--color-gray-dark: #808191;
	--color-gray-light: #F5F4F6;
	--color-primary: #A162F7;
	--color-primary-rgb: rgba(161, 98, 247, .1);
	--color-accent: #EF9011;
	--color-danger: #FF6370;
	--color-error: #FF5252;
	--color-success: #4CAF50;
}

$font-family: "DM Sans", sans-serif;
$line-height: 1.3;
$font-weight: 400;
$font-size: 14px;
$border-radius: 10px;
$color-light: #FFFFFF;
$color-primary: var(--color-primary);
$color-primary-rgb: var(--color-primary-rgb);
$breakpoints-map: (
	xxxl: 1400,
	xxl: 1200,
	xl: 1024,
	l: 960,
	m: 768,
	s: 640,
	xs: 480,
	xxs: 400
);
