html {
	-webkit-tap-highlight-color: transparent;
}

html,
body {
	height: 100%;
	width: 100%;
	-webkit-overflow-scrolling: touch;
}

body {
	margin: 0;
	padding: 0;
	color: var(--d-color-text-main);
	font-family: $font-family;
	font-size: $font-size;
	font-weight: $font-weight;
	line-height: $line-height;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: transparent;

	text-rendering: geometricPrecision;

	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
}

*,
*:before,
*:after {
	box-sizing: border-box;
	-webkit-overflow-scrolling: touch;
}

.w-full {
	width: 100%;
}
