.link {
	@include link;

	font-weight: 500;
	transition: opacity .2s;

	&:hover {
		opacity: .8;
	}

	&[disabled] {
		opacity: .4;
		pointer-events: none;
	}
}

.link--gray {
	color: var(--color-text-gray);
}

.link--icon {
	display: inline-flex;
	align-items: center;
}
