$prefixList: (
	"": null,
	t: "-top",
	r: "-right",
	b: "-bottom",
	l: "-left",
);

// generate margin
// from 0px to 20px
@each $prefixKey, $prefixValue in $prefixList {
	@for $index from 0 through 20 {
		$value: $index;

		.m#{$prefixKey}-#{$value} {
			margin#{$prefixValue}: $value+px;
		}
	}
}

// from -0px to -10 px
@each $prefixKey, $prefixValue in $prefixList {
	@for $index from 0 through 10 {
		$value: $index;

		.m#{$prefixKey}--#{$value} {
			margin#{$prefixValue}: -$value+px;
		}
	}
}
