$prefix-list: (
	"": null,
	t: "-top",
	r: "-right",
	b: "-bottom",
	l: "-left",
);

// generate margin
// from 0px to 20px
@each $prefix-key, $prefix-value in $prefix-list {
	@for $index from 0 through 20 {
		$value: $index;

		.m#{$prefix-key}-#{$value} {
			margin#{$prefix-value}: $value+px;
		}
	}
}

// from -0px to -10 px
@each $prefix-key, $prefix-value in $prefix-list {
	@for $index from 0 through 10 {
		$value: $index;

		.m#{$prefix-key}--#{$value} {
			margin#{$prefix-key}: -$value+px;
		}
	}
}
